{% extends "layout1.html" %}


{% block content %}

{% set cuenta1 = cuenta[1]  %}

<div class="columns">
		<div class="column">
				<!--<h1>Esto es un dashboard de administracion <strong id="cool">{{user}}</strong></h1>-->

		</div>
</div>
<div class="colums">

		<div class="column is-7">
				<div class="box">
						<div class="tags has-addons">
								<div class="tag is-primary">Total de Clientes: <div id="total">{{ cuenta[0] }}</div></div>
								<i class="fas fa-fw">&nbsp</i>
								<div class="tag is-link">Conectados: <div id="conect">{{ cuenta[1] }}</div></div>
								<div class="tag is-link">Desconectados: <div id="desc">{{ cuenta[2] }}</div></div>
								<i class="fas fa-fw">&nbsp</i>
								<div class="tag is-link">Activos: <div id="activ">{{ cuenta[3] }}</div></div>
								<div class="tag is-link">Inactivos: <div id="inact">{{ cuenta[4] }}</div></div>
								<i class="fas fa-fw">&nbsp</i>
								<div class="tag is-link">Al Dia: <div id="aldia">{{ cuenta[5] }}</div></div>
								<div class="tag is-link">Morosos: <div id="moros">{{ cuenta[6] }}</div></div>


						</div>

				</div>
		</div>
</div>


<!-- tabs-->
<div class="tabs is-centered">
  <ul>
    <li class="is-active"><a>Clientes</a></li>
    <li><a>ordenes</a></li>
    <li><a>enconstruccion</a></li>
    <li><a>enconstruccion</a></li>
  </ul>
</div>

<!--fin del tabs-->




<div class="columns">
		<div class="column">
				<div class="box" style="box-color:40,30%,20%"><strong>Clientes:</strong>
						<div id=clientes><br>
								{%for i in plantilla[1:]%}
								<div class="card has-background-dark has-text-light" id='{{ i[1]}}'>
										<div class="card-header">
												 {{i[1]}}&nbsp&nbsp&nbspSaldo: {{i[6]}}
										</div>
										<div class="card-content">
												Email: {{i[2]}}&nbsp&nbsp&nbspConexion: {{i[4]}}&nbsp&nbsp&nbspEstatus: {{i[5]}}
										</div>
								</div><br>
								{%endfor%}

						</div>
				</div>
		</div>
		</div>

	
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/socket.io.js')}}"></script>
		<script>
				var socket = io();


				function rt(){
						socket.send('hola server');
						socket.on('message', function(msg){
								if(msg=='hola cliente'){
										//console.log(msg);
								}
								else{
										msg = JSON.parse(msg)
										console.log(msg[1][1]);
										var tam = msg.length -1
										$('#total').html(msg[tam][0]);
										$('#conect').html(msg[tam][1]);
										$('#desc').html(msg[tam][2]);
										$('#activ').html(msg[tam][3]);
										$('#inac').html(msg[tam][4]);
										$('#aldia').html(msg[tam][5]);
										$('#moros').html(msg[tam][6]);
										for(let i=1; i<msg.length; i++){
												$('#'+msg[i][1]).children('.card-header').html(' '+msg[i][1]+'&nbsp&nbsp&nbspSaldo: '+msg[i][6].toFixed(1));
												$('#'+msg[i][1]).children('.card-content').html('Email: '+msg[i][2]+'&nbsp&nbsp&nbspConexion: '+msg[i][4]+'&nbsp&nbsp&nbspEstatus: '+msg[i][5]);
										$('#clientes').load(' #clientes')};
								};

						});
				};



				setInterval('rt()', 3000);
		</script>

										
				{% endblock %}
