{% extends "layout1.html" %}


{% block content %}

<div class="collumns is-one-third">
		<div class="collumn">
				<h1>Esto es un dashboard de administracion <strong>{{user}}</strong></h1>

		</div>

</div>
{% set num = (plantilla| length)%}
<div class="container" style="width:20%">

		<div class="card">Total de Usuarios: {{ num }} </div>
</div>


<section class="section">
		<div class="table-container">
				<table class="table is-bordered is-hoverable" style="text-align:center">
						<tr>
								<th>Id</th>
								<th>Nombre</th>
								<th>Correo</th>

						</tr>
						{% for user in plantilla %}
						<tr>
								{% for dat in user[:-1] %}
								<td>{{ dat }}</td>
								{% endfor %}
						</tr>
						{% endfor %}
				</table>

		</div>
</section>



{% endblock %}
