{% extends "layout1.html" %}



{% block content %}

{% set cuenta1 = cuenta[1]  %}

<div class="columns">
		<div class="column">
				<!--<h1>Esto es un dashboard de administracion <strong id="cool">{{user}}</strong></h1>-->

		</div>
</div>
<div class="colums">

		<div class="column is-7">
				<div class="box">
						<div class="tags has-addons">
								<div class="tag is-primary">Total de Clientes: <div id="total">{{ cuenta[0] }}</div></div>
								<i class="fas fa-fw">&nbsp</i>
								<div class="tag is-link">Conectados: <div id="conect">{{ cuenta[1] }}</div></div>
								<div class="tag is-link">Desconectados: <div id="desc">{{ cuenta[2] }}</div></div>
								<i class="fas fa-fw">&nbsp</i>
								<div class="tag is-link">Activos: <div id="activ">{{ cuenta[3] }}</div></div>
								<div class="tag is-link">Inactivos: <div id="inact">{{ cuenta[4] }}</div></div>
								<i class="fas fa-fw">&nbsp</i>
								<div class="tag is-link">Al Dia: <div id="aldia">{{ cuenta[5] }}</div></div>
								<div class="tag is-link">Morosos: <div id="moros">{{ cuenta[6] }}</div></div>


						</div>

				</div>
		</div>
</div>


<!-- tabs-->
<div class="tabs is-centered">
  <ul id="tabs">
    <li class="tab is-active" onclick="openTab(event, 'clientes')"><a>Clientes</a></li>
    <li class="tab" onclick="openTab(event, 'recargas')"><a>Recargas</a></li>
    <li class="tab" onclick="openTab(event, 'netflix')"><a>Netflix</a></li>
    <li class="tab" onclick="openTab(event, 'administracion')"><a>Administracion</a></li>
  </ul>
</div>

<!--fin del tabs-->




<div class="columns">
		<div class="column">

				<!-- contenido1-->
				<div id ="clientes"class="box is-active content-tab" style="box-color:40,30%,20% display:block"><strong>Clientes:</strong>
						<div class="" id="client"><br>
								{%for i in plantilla[1:]%}
								<div class="card has-background-dark has-text-light" id='{{ i[1]}}'>
										<div class="card-header has-background-link">
												 &nbsp{{i[1]}}&nbsp&nbsp&nbspSaldo: {{i[6]}}
										</div>
										<div class="card-content">
												Email: {{i[2]}}<br>Conexion: {{i[4]}}<br>Estatus: {{i[5]}}
										</div>
								</div><br>
								{%endfor%}

						</div>
						</div>


						<!-- contenido2 -->

				<div id="recargas" class="box content-tab" style="display:none"><br>
						<strong>Ordenes:</strong>
						<div class=""></div><br>

						</div>

						<!-- contenido3 -->

				<div id="netflix" class="box content-tab"style="display:none"><br>
						<strong>Cuentas:</strong>
						<div></div><br>

						</div>

						
						<!-- contenido4 -->

				<div id="administracion" class="box content-tab"style="display:none"><br>
						<strong>Suspensiones:</strong>
						<div></div><br>

				</div><br>




		</div>
		</div>

    <audio id="audio" src="http://www.soundjay.com/button/beep-07.wav" autoplay="false" ></audio>


	<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"</script>

	<script type="text/javascript">
				var socket = io();

				socket.send('hola server');
				socket.on('message', function(msg){
						if(msg=='hola cliente'){
								console.log(msg);
						}
						else{
								msg = JSON.parse(msg);
								console.log(msg[1][1]);
								var tam = msg.length -1;
								$('#total').html(msg[tam][0]);
								$('#conect').html(msg[tam][1]);
								$('#desc').html(msg[tam][2]);
								$('#activ').html(msg[tam][3]);
								$('#inac').html(msg[tam][4]);
								$('#aldia').html(msg[tam][5]);
								$('#moros').html(msg[tam][6]);
								for(let i=1; i<msg.length; i++){
										$('#'+msg[i][1]).children('.card-header').html(' '+msg[i][1]+'&nbsp&nbsp&nbspSaldo: '+msg[i][6].toFixed(1));
										$('#'+msg[i][1]).children('.card-content').html('Email: '+msg[i][2]+'<br>Conexion: '+msg[i][4]+'<br>Estatus: '+msg[i][5])};
								$('#client').load();
								//var sound = document.getElementById("audio");
								//sound.play();
						};

				});
$('.card').children().each(function(){
	if ($(this).text().match("Conectado")){
			$(this).prev().removeClass('has-background-link');
			$(this).prev().addClass('has-background-primary');
			};
});


$('.card').children().each(function(){
	if ($(this).text().match("Conectado")){
			$(this).prev().removeClass('has-background-link');
			$(this).prev().addClass('has-background-primary');
			};
});




				$("#logout").click(function(){

						//console.log("estoy vivo");
						socket.send('hola server');
						socket.on('message', function(msg){
								if(msg=='hola cliente'){
										//console.log(msg);
								}
								else{
										msg = JSON.parse(msg);
										console.log(msg[1][1]);
										var tam = msg.length -1;
										$('#total').html(msg[tam][0]);
										$('#conect').html(msg[tam][1]);
										$('#desc').html(msg[tam][2]);
										$('#activ').html(msg[tam][3]);
										$('#inac').html(msg[tam][4]);
										$('#aldia').html(msg[tam][5]);
										$('#moros').html(msg[tam][6]);
										for(let i=1; i<msg.length; i++){
												$('#'+msg[i][1]).children('.card-header').html(' '+msg[i][1]+'&nbsp&nbsp&nbspSaldo: '+msg[i][6].toFixed(1));
												$('#'+msg[i][1]).children('.card-content').html('Email: '+msg[i][2]+'&nbsp&nbsp&nbspConexion: '+msg[i][4]+'&nbsp&nbsp&nbspEstatus: '+msg[i][5]);
										$('#client').load();

										};
						};

				});
$('.card').children().each(function(){
	if ($(this).text().match("Conectado")){
			$(this).prev().removeClass('has-background-link');
			$(this).prev().addClass('has-background-primary');
			};
});



		});



				//setInterval('rt()', 3000);
		</script>

										
				{% endblock %}
