<!doctype html>
<html lang="en">
		<head>
				<!-- Required meta tags -->
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<link rel="icon" href="{{ url_for('static', filename='img/betmarlogo.jpeg')}}">
				<link href="{{ url_for('static', filename='css/css/bulma.css')}}" rel="stylesheet" type="text/css">
				<script src="{{ url_for('static', filename='js/java.js' )}}"></script>


				<title>{% block title %}Netflix Betmar {% endblock %}</title>
		</head>

		<body class="has-background-grey-light" style="height:100%">
				<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
						<div class="navbar-brand">
								<a class="title" href="">Netflix Betmar</a>
								</a>
								<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
										<span aria-hidden="true"></span>
										<span aria-hidden="true"></span>
										<span aria-hidden="true"></span>
								</a>
						</div>
						<div id="navbarBasicExample" class="navbar-menu">
								<div class="navbar-start">
										
										{% if user == 'admin' %}
										{% set panel = 'layad' %}
										{% else %}
										{% set panel = 'dash' %}
										{% endif %}

										<a class="navbar-item" href="{{url_for(panel, user=user)}}">
												Panel de Control
										</a>
										<a class="navbar-item" href="{{url_for('rec', user=user)}}">
												Recargas
										</a>

								</div>
								<div class="navbar-end">
										<div class="navbar-item">
												<div class="buttons">
														<a class="button is-light" href="">
																{{ user }}
														</a>
												</div>
										</div>
								</div>
						</div>
				</nav>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul class=flashes>
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}


				{% block content %}
				{%endblock%}


						</body>
</html>
