<!DOCTYPE html>
<html lang="en">
		<head>
				<!-- Required meta tags -->
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
				<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
				<meta content="utf-8" http-equiv="encoding">
				<meta property="og:title" content="Netflix Betmar"/>
				<meta property="og:url" content="http://uriell77.pythonanywhere.com/"/>
				<meta property="og:image" itemprop="image" content="{{ url_for('static', filename='img/betmarlogo.jpeg')}}">
				<meta property="og:description" content="Pagina de Netflix Betmar recargas moviles"/>
				<meta property="og:type" content="Negocio"/>
				

				<link rel="icon" href="{{ url_for('static', filename='img/betmarlogo.jpeg')}}">
				<link href="{{ url_for('static', filename='css/css/bulma.css')}}" rel="stylesheet" type="text/css">

				<script src="{{ url_for('static', filename='js/java.js' )}}"></script>
				<title>{% block title %}Netflix Betmar {% endblock %}</title>
		</head>

		<body class="has-background-grey-light" height="100%" style="padding:2px">
				<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
						<div class="navbar-brand">
								<a class="title" href="{{url_for('hello')}}">Netflix Betmar</a>
								</a>
								<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
										<span aria-hidden="true"></span>
										<span aria-hidden="true"></span>
										<span aria-hidden="true"></span>
								</a>
						</div>
						<div id="navbarBasicExample" class="navbar-menu">
								<div class="navbar-start">
										<a class="navbar-item" href="{{url_for('hello')}}">
												Home
										</a>

										<a class="navbar-item" href="{{url_for('doc')}}">
												Documentation
										</a>
								</div>
								<div class="navbar-end">
										<div class="navbar-item">
												<div class="buttons">
														<a class="button is-primary" href="{{ url_for('reg') }}">
																<strong>Sign up</strong>
														</a>
														<a class="button is-light" href="{{ url_for('log') }}">
																Log in
														</a>
												</div>
										</div>
								</div>
						</div>
				</nav>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<article class="message is-secondary">
						{% for message in messages %}
						<div class="massage-body"><div id="bienvenida">{{ message }} que mierc</div></div>
						{% endfor %}
				</article>
				{% endif %}
				{% endwith %}


				{% block content %}
				{%endblock%}

				<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"> </script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"</script>

				<script>
						function deli(){
								$("#bienvenida").delay(5000).html("")
						};
						deli();
				</script>

		</body>
</html>
