{% extends 'layout.html' %}
{% block content %}
<h1>ESTO ES UN LOGIN</h1>

<div style="height:100%; vertical-align:top; overflow:auto">
		<form method="post" class="">

				<section class="">
						<label for="name">Nombre:</label><br>
						<input type="text" id="nombre" name="nombre"><br>
						<label for="password">Password:</label><br>
						<input type="password" id="password" name="password"><br><br>
				</section>
				<input type="submit" value="Entrar"></input>

		</form>

</div>

{% endblock %}
